.container {
    margin: 0;
    padding: 20px;
    height: auto;
    width: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .scary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    -webkit-transition: all 500ms ease-out 200ms;
    -moz-transition: all 500ms ease-out 200ms;
    -o-transition: all 500ms ease-out 200ms;
    transition: all 500ms ease-out 200ms;
    background-color: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.links:hover {
    background-color: #c71717
}